/target
**/*.rs.bk
**/*.rs.swp
**/*.rs.swo
**/*.rmeta
**/*.dSYM
Cargo.lock

*.dll
*.exe
*.lib
*.pdb
*.ilk
*.exp
*.obj
*.o
*.rlib

Thumbs.db
Desktop.ini
*.log
.vscode/
.idea/
*.code-workspace

*.dmp
*.trace
*.etl

*.stackdump
*.bak
*.tmp

/logs/
/output/
/build/
/dist/
*.patch

.env
*.key
*.crt
*.pem